header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a1a;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
  box-shadow: 0px 5px 15px #0a0a0a;
  z-index: 1;
  overflow: hidden
}

.nav-links li {
  display: inline-block;
}
.nav-links a {
  color: #ebeaea;
  text-decoration: none;
  padding: 25px 25px;
}

.nav-links a:hover {
  background-color: #333333;
  color: #c179ff;
  text-shadow: 0px 2px 5px #020202;
}

.sign button {
  text-decoration: none;
  background-color: #74747421;
  color: #a952f5;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 3px 3px #0e0e0e;
  cursor: pointer;
  transition: color 0.3s ease;
}

button a {
  text-decoration: none;
  color: #a952f5;
}

.sign button:hover {
  background-color: #c27dff;
  color: #121212;
  box-shadow: 0px 5px 10px 4px #161616;
}
